[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
psycopg2-binary = "*"
google-generativeai = "*"
google-genai = "*"
volcengine-python-sdk = {version = "*", extras = ["ark"]}
openai = "*"
dashscope = "*"
zai-sdk = "*"
voyageai = "*"
edge-tts = "*"
python-jose = {version = "*", extras = ["cryptography"]}
pyjwt = "*"
passlib = {version = "*", extras = ["bcrypt"]}
python-dotenv = "*"
pandas = "*"
requests = "*"
httpx = "*"
python-multipart = "*"
email-validator = "*"
pymupdf = "*"
seaborn = "*"
scikit-learn = "*"
json-repair = "*"
zhconv = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.13"
